Numbers, arithmetic, variable assignment

In [1]:
#numbers
2**3

8

In [4]:
a = 2*3

In [5]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [6]:
my_taxes

10.0

In [7]:
a=10

In [8]:
a+= 5

In [9]:
a

15

In [10]:
#check type
type(a)

int

In [11]:
b = "hello"
type(b)

str

In [12]:
#strings
print("Hello world")

Hello world

In [13]:
str1 = "hello world"
print(str1)
type(str1)

hello world

str

In [16]:
# string indexing
str1[0]

'h'

In [17]:
str1[-1]

'd'

In [18]:
# slicing
str1[3:]

'lo world'

In [20]:
#strings are immutable
str1[0]="b"

TypeError: 'str' object does not support item assignment

In [23]:
# concatenate
str2 = str1 + " Joe"

In [24]:
str2

'hello world Joe'

In [26]:
#string methods
str2.upper()

'HELLO WORLD JOE'

In [27]:
str2uc = str2.upper()

In [28]:
str2uc

'HELLO WORLD JOE'

In [29]:
str2uc.lower()

'hello world joe'

In [30]:
str2_split = str2.split()

In [32]:
str2_split

['hello', 'world', 'Joe']

Lists

In [33]:
list1 = [1,2,3]

In [34]:
list1

[1, 2, 3]

In [39]:
list1 = [4,5,6]

In [40]:
list1

[4, 5, 6]

In [41]:
list2 = list1 + [1,2,3]

In [42]:
list2

[4, 5, 6, 1, 2, 3]

In [43]:
list2.sort()

In [44]:
list2

[1, 2, 3, 4, 5, 6]

list methods

In [47]:
list2.append(7)

In [48]:
list2

[1, 2, 3, 4, 5, 6, 7]

In [49]:
last_num = list2.pop()

In [50]:
last_num

7

In [51]:
type(last_num)

int

DICTIONARIES

In [52]:
# using mappings which use a key, vs an ojbect's relative position

In [56]:
dict1 = {"book1":"Frankenstein", "book2":"Dune","library":[1,2,3,4,5]}

In [57]:
dict1['book1']

'Frankenstein'

In [60]:
sample_value = dict1["library"][0] +1 # 2

sample_value

In [61]:
sample_value

2

In [62]:
library = {}

In [63]:
library['Dune'] = "great"

In [64]:
library

{'Dune': 'great'}

In [65]:
library['Star Wars'] = "excellent"

In [66]:
library

{'Dune': 'great', 'Star Wars': 'excellent'}

In [67]:
library['Star Wars']

'excellent'

In [68]:
library.keys()

dict_keys(['Dune', 'Star Wars'])

In [69]:
library.values()

dict_values(['great', 'excellent'])

In [70]:
library.items()

dict_items([('Dune', 'great'), ('Star Wars', 'excellent')])

TUPLES

In [71]:
# TUPLES ARE IMMUTABLE (they can't be changed)

In [72]:
t = (1,2,3)

In [73]:
len(t)

3

In [74]:
type(t)

tuple

In [75]:
t = ("one",2,3)

In [76]:
t

('one', 2, 3)

In [77]:
type(t)

tuple

In [78]:
t[0] # index

'one'

In [79]:
t[2]

3

In [80]:
# tuple methods
t.index('one')

0

In [ ]:
t.index