Numbers, arithmetic, variable assignment

In [1]:
#numbers
2**3

8

In [4]:
a = 2*3

In [5]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [6]:
my_taxes

10.0

In [7]:
a=10

In [8]:
a+= 5

In [9]:
a

15

In [10]:
#check type
type(a)

int

In [11]:
b = "hello"
type(b)

str

In [12]:
#strings
print("Hello world")

Hello world

In [13]:
str1 = "hello world"
print(str1)
type(str1)

hello world

str

In [16]:
# string indexing
str1[0]

'h'

In [17]:
str1[-1]

'd'

In [18]:
# slicing
str1[3:]

'lo world'

In [20]:
#strings are immutable
str1[0]="b"

TypeError: 'str' object does not support item assignment

In [23]:
# concatenate
str2 = str1 + " Joe"

In [24]:
str2

'hello world Joe'

In [26]:
#string methods
str2.upper()

'HELLO WORLD JOE'

In [27]:
str2uc = str2.upper()

In [28]:
str2uc

'HELLO WORLD JOE'

In [29]:
str2uc.lower()

'hello world joe'