if case1:
    perform action1
elif case2:
    perform action2
else: 
    perform action3

In [5]:
x = False
if x:
    print(" x was true")
else:
    print(" not true")

 not true

In [6]:
num = 100
if num < 100:
    print("less than 100")
elif num == 100:
    print("spot on 100")
else:
    print("over 100")

spot on 100

In [7]:
mylist = [1,2,3,4,5,6]
for num in mylist:
    print(num)

1
2
3
4
5
6

In [8]:
mylist2 = [1,2,3,4,5,6,7]
for num in mylist2:
    if num % 2 == 0: # check for even
        print(num)
    else:
        print("not even")

not even
2
not even
4
not even
6
not even

In [9]:
mylist = [1,2,3,4,5,6,7,8,9.10]
mylist_sum = 0

for num in mylist:
    if num % 2 == 0:
        mylist_sum = mylist_sum + num
    else:
        print("that is not even")

print(mylist_sum)

that is not even
that is not even
that is not even
that is not even
that is not even
20

In [10]:
# tuple unpacking
for a,b in [(1,2),(3,4)]:
    print(a)

1
3

In [13]:
for item in {"book":"Dune", "book2": "Dune2"}:
    print(item)

book
book2

In [16]:
library = {"book1":"Dune", "book2":"Big Blue"}
for key,value in library.items():
    print(value)
    print(key)

Dune
book1
Big Blue
book2

<h3> While Loops </h3>

In [19]:
x = 0
while x < 10:
    print("ok")
    print(x)
    x+=1

ok
0
ok
1
ok
2
ok
3
ok
4
ok
5
ok
6
ok
7
ok
8
ok
9

<h3> Continue, Break, Pass </h3>

In [4]:
x = 0
while x < 10:
    print("x is now: ",x)
    x+=1
    if x == 5:
        break
    else:
        continue

x is now:  0
x is now:  1
x is now:  2
x is now:  3
x is now:  4

<h3> Operators </h3>

In [5]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [8]:
for num,let in enumerate('hello'):
    print(num)
    print(let)

0
h
1
e
2
l
3
l
4
o

In [9]:
for num,let in enumerate('hello there'):
    print("At index {} there is the letter {}".format(num,let))

At index 0 there is the letter h
At index 1 there is the letter e
At index 2 there is the letter l
At index 3 there is the letter l
At index 4 there is the letter o
At index 5 there is the letter
At index 6 there is the letter t
At index 7 there is the letter h
At index 8 there is the letter e
At index 9 there is the letter r
At index 10 there is the letter e

In [10]:
list(enumerate("hello"))

[(0, 'h'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o')]

In [11]:
# zip operator

In [12]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c','d','e']

In [13]:
zip(list1,list2)

In [14]:
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [16]:
for a,b in zip(list1,list2):
    print("First is {} and second is {}".format(a,b))

First is 1 and second is a
First is 2 and second is b
First is 3 and second is c
First is 4 and second is d
First is 5 and second is e

In [18]:
for a,b in zip([1,2],["a","b"]):
    print(a)
    print(b)

1
a
2
b

<h3> in operator</h3>

In [19]:
'x' in ['x','y','z']

True

In [20]:
'x' not in ['x']

False

In [21]:
1 in [1,2]

True

In [23]:
5 in range(0,50)

True

print(range(0,5)

In [24]:
print(range(5,10))

range(5, 10)

In [25]:
print(list(range(5,12)))

[5, 6, 7, 8, 9, 10, 11]

In [26]:
print(list(range(2,22,3)))

[2, 5, 8, 11, 14, 17, 20]

In [27]:
x = list(range(2,22,1))

In [28]:
print(x)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [29]:
y = list(range(3,33,2))

In [30]:
print(y)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]

In [31]:
zip(x,y)

In [32]:
list(zip(x,y))

[(2, 3),
 (3, 5),
 (4, 7),
 (5, 9),
 (6, 11),
 (7, 13),
 (8, 15),
 (9, 17),
 (10, 19),
 (11, 21),
 (12, 23),
 (13, 25),
 (14, 27),
 (15, 29),
 (16, 31)]

<h3> random </h3>

In [33]:
from random import randint

In [34]:
randint(2,55)

6

In [36]:
from random import randint
x=0

while x < 5:
    print(randint(x,22))
    x+=1

9
10
20
4
16

<h3> input </h3>

In [37]:
x = input("num?")
print(" you said",x)

num?5
 you said 5

<h3> List Comprehensions </h3>

In [38]:
# essentially a one line "for" loop built inside brackets

In [39]:
list1 = [x for x in 'word']

In [40]:
list1

['w', 'o', 'r', 'd']

In [41]:
print(list1)

['w', 'o', 'r', 'd']

In [42]:
nums = [num*2 for num in [1,2,3]]

In [43]:
nums

[2, 4, 6]

In [44]:
nums = num for num in range(2,6)

SyntaxError: invalid syntax (<ipython-input-44-292c7853fed7>, line 1)

In [45]:
nums = [ num for num in range(2,5)]

In [46]:
nums

[2, 3, 4]

In [48]:
nums = [ num*3 for num in range(3,5) ]

In [49]:
nums

[9, 12]

In [50]:
ex = range(5)

In [51]:
ex

range(0, 5)

In [52]:
list(ex)

[0, 1, 2, 3, 4]

In [53]:
ex = [ x for x in range(22) if x & 2 == 0]

In [54]:
ex

[0, 1, 4, 5, 8, 9, 12, 13, 16, 17, 20, 21]

In [55]:
ex = [x for x in range(11) if x % 2 == 0]

In [56]:
ex

[0, 2, 4, 6, 8, 10]